*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.steam{
    width: 243px;
    height: 50px;
    border-radius: 10px;
    background-color: #009FF5B5;
    display: flex;
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;    
}
.header{
    background-image: url(backimgcsgo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;

}
.nav{
    padding-top: 30px;
    padding: 20px;
    display: flex;
    font-family: Roboto;
    gap: 68px   ;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}
.language{
    display: block;
    margin-left: 450px;
}
.players{
    width: 604px;
    height: 103px;
    border-radius: 50px;
    border-width: 11px;
    border: 11px solid #5A5555;
   background-color: #FFC611;
   font-family: Roboto;
   font-weight: 700;
   font-size: 36px;
   line-height: 100%;
   letter-spacing: 0%;
   margin: 0 auto;
   text-align: center;
   padding: 24px;
   margin-top: 150px;
   text-shadow: 0px 4px 4px  #0047FF;

}
.card{
    width: 361px;
    height: 430px;
    text-align: center;
    background-color: #1F1F1F;
    color: white;
}
.cards{
    display: flex;
    margin-top: 478px;
    gap: 127px;
    margin: 0 auto;
    padding: 155px;
}
.cards h2{
    font-family: Roboto;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-shadow: 0px 4px 4px #FFC200;
    padding: 15px;
}
h3{
    font-family: Roboto;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 346;
    height: 64;
    top: 1082px;
    left: 577px;
    color: #5A5555;
    text-align: center;
    text-shadow: 0px 4px 4px #FFFFFF;
}
.container img{
    width: 571px;
    height: 305px;
}
.container{
    display: flex;
    gap: 87px;
    margin: 52px;
    color: white;
}
.container p{
    font-size: 30px;
}
.text{
    width: 663px;
    height: 140px; 
    color: white;
    font-family: Roboto;
    font-weight: 600;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;   
    margin-top: 20px; 
}
.container button {
    width: 278px;
    height: 61px;
    background-color: #FFC200;
    color: black;
    box-shadow: 0px 7px 12.8px #FFFFFF;
    border-radius: 15px;
    display: block;
    margin-top: 210px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    
}
.readmore2{
    width: 278px;
    height: 61px;
    background-color: #FFC200;
    color: black;
    box-shadow: 0px 7px 12.8px #FFFFFF;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    
}
.readmore:hover{
    width: 278px;
    height: 61px;
    background-color: #535353;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: 0.6s;
}
.readmore2:hover{
    width: 278px;
    height: 61px;
    background-color: #535353;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: 0.6s;
}
.footer{
    width: 1515px;
    height: 158px;
    top: 2057px;
    background-color: #FFC611;
    margin: 0 auto;
    gap: 20px;
}